* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.wrap {
  margin: 0 auto;
  padding: 115px 0;
  width: 70%;
  max-width: 1200px;
}

.title {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.title__italic {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000000;
  text-transform: capitalize;
}

.title__bold {
  position: relative;
  margin: 20px 0 84px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #000000;
}

.title__bold::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%, -2px);
  transform: translate(-50%, -2px);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.title__text {
  padding-bottom: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #999999;
}

.title__text--zero-padding {
  padding-bottom: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  float: right;
}

.menu__item {
  margin-right: 30px;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  border-bottom: 0 solid #fce38a;
  padding-bottom: 5px;
  transition: 0.5s;
}

.menu__link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.list {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list__item {
  margin-right: 30px;
}

.list__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  border-bottom: 0 solid #fce38a;
  padding-bottom: 5px;
  transition: 0.5s;
  position: relative;
}

.list__link span {
  font-weight: 600;
  padding-right: 10px;
}

.list__link::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  background: #ffffff;
  top: -15px;
  opacity: 0.7;
}

.header {
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/Layer-15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100vh;
  color: #ffffff;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav {
  margin: 0 auto;
  width: 70%;
}

.header__center {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
}

.header__title::after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -25px;
  height: 2px;
  width: 60px;
  background: #ffffff;
}

.header__text {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.header__btn {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  transition: 1s;
}

.header__btn:hover {
  color: #fce38a;
  border-color: #fce38a;
}

.back {
  padding: 70px 0;
}

.back--grey {
  background-color: #f8f8f8;
}

.slider {
  position: relative;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.slider__itemSec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.slider__image {
  margin-left: 60px;
}

.slider__image--border {
  border: 3px solid #95e1d3;
  padding: 37px;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
  line-height: 2rem;
  color: #999999;
}

.slider__content {
  margin-right: 50px;
  margin-left: 40px;
}

.slider__title {
  font-family: "Kaushan Script", cursive;
  color: #000000;
  position: relative;
  font-size: 1.5rem;
  padding-left: 70px;
  margin-top: 20px;
}

.slider__title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  height: 3px;
  width: 60px;
  background: #f38181;
}

.slider__prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 18px;
  transition: 0.6s;
  left: 10%;
  color: #999999;
}

.slider__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 18px;
  transition: 0.6s;
  right: 10%;
  color: #999999;
}

.slider__fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.images-row {
  display: flex;
  justify-content: space-between;
}

.images-row--our-work {
  flex-wrap: wrap;
  background-color: #333333;
}

.images-row__container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
}

.images-row__container--quarter {
  width: 25%;
}

.images-row__image {
  position: relative;
  background: 50% 50% no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}

.images-row__image--about {
  width: 22vw;
  max-width: 380px;
  height: 14.4737vw;
  max-height: 250px;
}

.images-row__image--about-first {
  background-image: url("../img/Layer-44.jpg");
}

.images-row__image--about-second {
  background-image: url("../img/Layer-39.jpg");
}

.images-row__image--about-third {
  background-image: url("../img/Layer-41.jpg");
}

.images-row__image--team {
  width: 22vw;
  max-width: 380px;
  height: 27.2105vw;
  max-height: 470px;
}

.images-row__image--team-dix {
  background-image: url("../img/Layer-16.jpg");
}

.images-row__image--team-campbell {
  background-image: url("../img/Layer-19.jpg");
}

.images-row__image--team-fertig {
  background-image: url("../img/Layer-18.jpg");
}

.images-row__image--work {
  width: 50%;
  height: 20.3125vw;
}

.images-row__image--work-1 {
  background-image: url("../img/Layer-26.jpg");
}

.images-row__image--work-2 {
  background-image: url("../img/Layer-35.jpg");
}

.images-row__image--work-3 {
  background-image: url("../img/Layer-33.jpg");
}

.images-row__image--work-4 {
  background-image: url("../img/Layer-29.jpg");
}

.images-row__image--work-high {
  height: 40.625vw;
  width: 25%;
  background-image: url("../img/Layer-34.jpg");
}

.images-row__image--work-5 {
  width: 100%;
  background-image: url("../img/Layer-31.jpg");
}

.images-row__image--work-6 {
  width: 100%;
  background-image: url("../img/Layer-32.jpg");
}

.images-row__image--hover:hover .gradient {
  opacity: 1;
}

.images-row__image--hover-shadow:hover {
  -webkit-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px 0 0 #95e1d3;
}

.images-row__header {
  margin: 20px 0 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.images-row__text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  color: #999999;
  text-align: center;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}

.gradient--for-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 0.5s;
}

.gradient--cursor {
  cursor: pointer;
}

.inside-image {
  display: flex;
  flex-direction: column;
}

.inside-image--flex-row {
  flex-direction: row;
}

.inside-image__logo {
  margin: 0 auto;
  display: block;
}

.inside-image__logo--picture {
  margin-bottom: 10px;
}

.inside-image__span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.inside-image__italic {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}

.inside-image__social {
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fce38a;
  transition-duration: 0.25s;
}

.inside-image__social:not(:last-child) {
  border-right: 1px solid #f38181;
}

.inside-image__social:hover {
  background-color: #f38181;
}

.inside-image__social:hover .inside-image__logo {
  fill: #ffffff;
}

.inside-image__social-logo {
  fill: #f38181;
  transition-duration: 0.25s;
}

.comments {
  position: relative;
  padding: 85px 35px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .comments {
    padding: 35px 10px 0 5px;
  }
}

.comments__item {
  flex-grow: 1;
  margin-right: 75px;
  margin-bottom: 60px;
  flex-basis: 400px;
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (max-width: 992px) {
  .comments__item {
    flex-basis: 350px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 576px) {
  .comments__item {
    margin-right: 0;
  }
  .comments__item:last-child {
    margin-bottom: 0;
  }
}

.comments__item:nth-child(2n) {
  margin-right: 0;
}

.comments__pic {
  flex-basis: 110px;
  flex-grow: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.comments__pic--dix {
  background-image: url("../img/Layer-47.jpg");
  background-position: 50% 10%;
}

.comments__pic--castillo {
  background-image: url("../img/Layer-50.jpg");
  background-position: 50% 10%;
}

.comments__pic--karvounis {
  background-image: url("../img/Layer-49.jpg");
  background-position: 57.5% 50%;
}

.comments__pic--petrucci {
  background-image: url("../img/Layer-51.jpg");
  background-position: 26% 10.5%;
}

.comments__block {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 30px;
  padding-top: 10px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .comments__block {
    margin-left: 10px;
  }
}

.comments__name {
  font-size: 0.88rem;
  line-height: 0.88rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #333333;
}

.comments__position {
  position: relative;
  font-size: 0.94rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 43px;
  text-transform: capitalize;
  color: #333333;
}

.comments__position::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.comments__text {
  font-size: 0.94rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

@media screen and (max-width: 320px) {
  .comments__text {
    text-align: justify;
  }
}
