* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.wrap {
  margin: 0 auto;
  padding: 115px 0;
  width: 70%;
  max-width: 1200px;
}

.title {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.title__italic {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000000;
}

.title__bold {
  position: relative;
  margin: 20px 0 84px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #000000;
}

.title__bold::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%, -2px);
  transform: translate(-50%, -2px);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.title__text {
  padding-bottom: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #999999;
}

.images-row {
  display: flex;
  justify-content: space-between;
}

.images-row__image {
  position: relative;
  width: 22vw;
  max-width: 380px;
  background: 50% 50% no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}

.images-row__image--about {
  height: 14.4737vw;
  max-height: 250px;
}

.images-row__image--about-first {
  background-image: url("../img/Layer-44.jpg");
}

.images-row__image--about-second {
  background-image: url("../img/Layer-39.jpg");
}

.images-row__image--about-third {
  background-image: url("../img/Layer-41.jpg");
}

.images-row__image--team {
  height: 27.2105vw;
  max-height: 470px;
}

.images-row__image--team-dix {
  background-image: url("../img/Layer-16.jpg");
}

.images-row__image--team-campbell {
  background-image: url("../img/Layer-19.jpg");
}

.images-row__image--team-fertig {
  background-image: url("../img/Layer-18.jpg");
}

.images-row__image--hover:hover {
  -webkit-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
  box-shadow: 8px 8px 0 0 #95e1d3;
}

.images-row__image--hover:hover .gradient {
  opacity: 1;
}

.images-row__header {
  margin: 20px 0 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.images-row__text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  color: #999999;
  text-align: center;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.85), rgba(252, 227, 138, 0.85));
}

.gradient--for-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: 0.5s;
}

.gradient--cursor {
  cursor: pointer;
}

.inside-image {
  display: flex;
  flex-direction: column;
}

.inside-image--flex-row {
  flex-direction: row;
}

.inside-image__users-logo {
  margin: 0 auto;
  display: block;
}

.inside-image__span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.inside-image__social {
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fce38a;
  transition-duration: 0.25s;
}

.inside-image__social:not(:last-child) {
  border-right: 1px solid #f38181;
}

.inside-image__social:hover {
  background-color: #f38181;
}

.inside-image__social:hover .inside-image__logo {
  fill: #ffffff;
}

.inside-image__logo {
  fill: #f38181;
  transition-duration: 0.25s;
}

.header {
  background-image: url(../img/header__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100vh;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
}

.header p {
  font-family: "Kaushan Script", cursive;
}

.back--grey {
  background-color: #f8f8f8;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image {
  border: 2px solid #95e1d3;
  padding: 37px;
  margin-left: 70px;
}

.slider__content {
  margin-left: 60px;
  margin-right: 70px;
}

.slider__content p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: #999999;
}

.slider__content h3 {
  font-family: "Kaushan Script", cursive;
  color: #000000;
  position: relative;
  font-size: 1.5rem;
  padding-left: 70px;
}

.slider__content h3:before {
  content: "";
  position: absolute;
  top: 50%;
  top: 50%;
  left: -1px;
  height: 2px;
  width: 60px;
  background: #f38181;
}