.header {
  background-image: linear-gradient(to bottom, rgba(243,129,129,0.9),rgba(252,227,138,0.9)), url(../img/Layer-15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 100vh;
  color: $color-white;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__nav {
    margin: 0 auto;
    width: 70%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    &--none {
      display: none;
    }
  }

  &__title {
    font-family: $bold-family;
    font-size: 6rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
  }

  &__text {
    font-family: $italic-family;
    font-size: 2.5rem;
    width: 40%;
    margin: 40px auto;
    text-align: center;
  }

  &__btn {
    text-decoration: none;
    color: $color-white;
    font-family: $bold-family;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 5px 10px;
    border: 2px solid $color-white;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    transition: 1s;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: 20px;
      height: 2px;
      width: 60px;
      background: $color-white;
    }

    &:hover {
      color: $color-yellow;
      border-color: $color-yellow;
    }
  }
}

@media screen and (max-width:1000px) {
  .header {
    &__title {
      font-size: 4rem;
      width: 70%;
      line-height: 5rem;
      text-transform: uppercase;
    }
  
    &__text {
      font-size: 2rem;
      width: 60%;
    }  
  }
}

@media screen and (max-width:700px) {
  .header {
    &__nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }
          
    &__logo {
      display: block;
      margin:  15px auto;
    }
    &__title {
      width: 90%;
      font-size: 4rem;
      line-height: 4rem;
    }
  
    &__text {
      width: 80%;
    }  
  }
}

@media screen and (max-width:500px) {
  .header {
    &__nav {
      margin-bottom: 20px;
    }
    &__title {
      width: 100%;
      font-size: 3rem;
      line-height: 3rem;
    }
  
    &__text {
      margin-bottom: 10px;
    }
  }
}

