.menu {
  display: flex;
  list-style-type: none;
  float: right;

  &__icon {
    display: flex;
  }
  &__item {
    margin-right: 30px;

    & li:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-family: $bold-family;
    font-size: 0.7rem;
    border-bottom: 0 solid $color-yellow;
    padding-bottom: 5px;
    transition: 0.5s;

    &:hover {
      color: $color-yellow;
      border-bottom: 3px solid $color-yellow;
    }
    &--icon:hover {
      border-width: 0;
    }
  }
}


@media screen and (max-width: 830px) {
  .menu {
    justify-content: center;
    float: none;
  }
}

@media screen and (max-width: 525px) {
  .menu {
    &__item {
    margin-right: 10px;
    }

    &__link {
      font-size: 0.6rem;
    }
  }
}