$text-family: 'Open Sans', sans-serif;
$italic-family: 'Kaushan Script', cursive;
$bold-family: 'Montserrat', sans-serif;
$roboto-family: 'Roboto', sans-serif;

$background-grey: #f8f8f8;
$color-red: #f38181;
$color-yellow: #fce38a;
$par-color: #999999;
$color-sky: #95e1d3;
$color-black: #000000;
$color-lightblack: #333333;
$color-white: #ffffff;

$xs: 576px;
$s: 768px;
$m: 992px;
$l: 1200px;
$xl: 1800px;